@{
    ViewData["Title"] = "Exceptional catering";
    ViewData["Span"] = "For your special day";
    ViewData["Background"] = "page-title-4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container">
        <!-- .row start -->
        <div class="row mb-40">
            <!-- .col-md-12 start -->
            <div class="col-md-12 centered mb-0">
                <div class="custom-heading style-1">
                    <h3><span>It's your day</span></h3>
                    <h3>Make it memorable</h3>

                    <!-- .divider.style-1 start -->
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="fa fa-circle hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                </div><!-- .custom-heading.style-1 end -->
                <ul class="article-meta">
                    <li>Weddings,</li>
                    <li>Anniversaires,</li>
                    <li>Baby showers</li>
                </ul><!-- .article-meta end -->
            </div><!-- .col-md-12 end -->
            <!-- .col-md-2 start -->
            <div class="col-md-2 hidden-xs hidden-sm centered">
            </div><!-- .col-md-2 end -->
            <!-- .col-md-8 start -->
            <div class="col-md-8 col-sm-12 centered">
                <p>
                    Celebrate your special event in beautiful atmosphere of Royal Plate.
                    Exquisite & creative cousine, friendly atmosphere and highly professional staff will make your special day beautiful & enjoyable. You can select from couple of pre-made menus for every occasion that should please many
                    different palates or work with us to create your own menu.
                </p>
            </div><!-- .col-md-8 end -->
            <div class="col-md-2 hidden-xs hidden-sm centered">
            </div><!-- .col-md-2 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content custom-img-background dark bkg-img17 custom-col-padding mb-100">
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <!-- .col-md-12 start -->
            <div class="col-md-12 centered">
                <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                    <h2><span>What we offer</span></h2>
                    <h2>Service we provide</h2>

                    <!-- .divider.style-2 start -->
                    <div class="divider style-2 center">
                        <span class="hr-double left"></span>
                        <span class="divider-svg">
                            <img src="../img/svg/heading-icon.svg" alt="Royal Plate Restaurant & Catering HTML Template">
                        </span>
                        <span class="hr-double right"></span>
                    </div>
                </div><!-- .custom-heading.style-1 end -->
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->
<div class="page-content">
    <div class="conainer">
        <div class="row">
            <div class="row">
                <!-- .col-md-12 start -->
                <div class="col-md-12 centered mb-0">
                    <div class="custom-heading style-1">
                        <h3><span>Find Caterer By Location</span></h3>
                        <h3>Give you caterer high quality</h3>

                        <!-- .divider.style-1 start -->
                        <div class="divider style-1 center">
                            <span class="hr-simple left"></span>
                            <i class="fa fa-circle hr-icon"></i>
                            <span class="hr-simple right"></span>
                        </div>
                    </div><!-- .custom-heading.style-1 end -->
                </div><!-- .col-md-12 end -->
                <!-- .col-md-12 start -->
                <div class="col-md-12 centered open-table-widget-style-3">

                    <!-- Open table widget start -->
                    <div class="otw-bare-bones-style widget open-table-widget triggerAnimation animated fadeIn" data-animate="fadeIn" style="opacity: 1;">
                        <div class="otw-bare-bones">
                            <div class="otw-widget-form-wrap">
                                <form method="get" class="otw-widget-form">
                                    <div class="otw-wrapper">


                                        <div class="otw-name-wrap otw-input-wrap">
                                            <input name="Name" class="otw-reservation-name" type="text" id="locationCaterer" placeholder="Enter location you wanna book">
                                        </div>
                                        <div class="otw-button-wrap">
                                            <input type="button" id="search" onClick="searchs()" class="otw-submit" value="Find">
                                        </div>
                                    </div>
                                </form>
                            </div><!-- .otw-widget-form-wrap -->

                        </div>
                    </div><!-- Open table widget end -->
                </div><!-- .col-md-12 end -->

            </div>
        </div>
    </div>
</div>
<div id="dataCaterer">
   
</div>

<div class="page-content custom-img-background dark bkg-img18 custom-col-padding mb-100 border-decor">
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <!-- .col-md-12 start -->
            <div class="col-md-12 centered">
                <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                    <h2><span>Featured event</span></h2>
                    <h2>Mia & David's wedding</h2>

                    <!-- .divider.style-2 start -->
                    <div class="divider style-2 center">
                        <span class="hr-double left"></span>
                        <span class="divider-svg">
                            <img src="../img/svg/heading-icon.svg" alt="Royal Plate Restaurant & Catering HTML Template">
                        </span>
                        <span class="hr-double right"></span>
                    </div>
                </div><!-- .custom-heading.style-1 end -->
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content">
    <div class="container">
        <!-- .row start -->
        <div class="row mb-60">
            <!-- .col-md-12 start -->
            <div class="col-md-12 centered mb-0">
                <div class="custom-heading style-1">
                    <h3><span>Mia & David’s Celebration</span></h3>
                    <h3>Services provided</h3>

                    <!-- .divider.style-1 start -->
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="fa fa-circle hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                </div><!-- .custom-heading.style-1 end -->
                <ul class="article-meta">
                    <li>Floral</li>
                    <li>Lightning</li>
                    <li>Food</li>
                    <li>Bar</li>
                    <li>Staff</li>
                </ul><!-- .article-meta end -->
            </div><!-- .col-md-12 end -->
            <!-- .col-md-2 start -->
            <div class="col-md-2 hidden-xs hidden-sm centered">
            </div><!-- .col-md-2 end -->
            <!-- .col-md-8 start -->
            <div class="col-md-8 centered mb-0">
                <p>
                    One of the most exciting events we catered was Mia & David’s wedding that occur in summer 2016.
                    We have provided full package service, including floral, lightning, food, bar and staff. Mia & David decided to have their
                    celebration on the open, on Royal Plate terrace with amazing view on Costa bay. Mia & David enjoyed in our “Royal Plate buffet menu”. You can see the gallery bellow.
                </p>
            </div><!-- .col-md-8 end -->
            <div class="col-md-2 hidden-xs hidden-sm centered">
            </div><!-- .col-md-2 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content">
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <!-- .col-md-12 start -->
            <div class="col-md-12">
                <div class="carousel-container triggerAnimation animated" data-animate='fadeIn'>
                    <div id="simple-gallery-carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="../img/pics/img-14.jpg" alt="Royal Plate - Restaurant & Catering HTML Template" />
                        </div>
                        <div class="item">
                            <img src="../img/pics/img-17.jpg" alt="Royal Plate - Restaurant & Catering HTML Template" />
                        </div>
                        <div class="item">
                            <img src="../img/pics/img-04.jpg" alt="Royal Plate - Restaurant & Catering HTML Template" />
                        </div>
                        <div class="item">
                            <img src="../img/pics/img-09.jpg" alt="Royal Plate - Restaurant & Catering HTML Template" />
                        </div>
                        <div class="item">
                            <img src="../img/pics/img-15.jpg" alt="Royal Plate - Restaurant & Catering HTML Template" />
                        </div>
                    </div><!-- .owl-carousel.owl-theme end -->
                </div><!-- .carousel-container end -->
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->

<script>

    function searchs() {
        let location = $('#locationCaterer').val();

        $.ajax({
            url: 'https://localhost:7052/' + 'api/caterer?location=' + location,
            method: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            error: function (response) {
                console.log("error");
            },
            success: function (response) {
                const len = response.length;
                let table = '';
                for (var i = 0; i < len; i++) {
                    table += '<div class="page-content">';
                    table += '<div class="container">';
                    table += '<div class="row">';
                    table += '<div class="col-md-6 col-sm-6">';
                    table += '<img src="../img/pics/img-14.jpg" alt="Royal Plate - Restaurant & Catering HTML Template" />';
                    table += '</div>';
                    table += '<div class="col-md-6 col-sm-6 centered pt-80">';
                    table += '<div class="custom-heading style-1">';
                    table += '<h3><span>'+response[i].name+'</span></h3>';
                    table += '<h3>'+response[i].address+'</h3>';
                    table += `<div class="divider style-1 center">
                                <span class="hr-simple left"></span>
                                <i class="fa fa-circle hr-icon"></i>
                                <span class="hr-simple right"></span>
                            </div>`;
                    table += '</div>';
                    table += `<p>
                            Food is the heart of every event. We’ll make your day special by selecting only the best
                            ingredients and turning them into magical dishes. Our service includes complete food preparation,
                            beverages. and full china service. You can choose from already prepared sample menus or join
                            us in creating your own that will please your taste for sure.
                        </p>`;
                    table += `<a href="/Home/Details?id=`+response[i].catererId+`" class="more-details triggerAnimation animated" data-animate='fadeInUp'>Booking now <i class="fa fa-angle-double-right"></i></a>`;
                    table += `</div></div></div></div>`;

                }
                document.getElementById('dataCaterer').innerHTML = table;
            },
            fail: function (response) {
                console.log("fail");
            }
        })
    }
    $(document).ready(function () {
        searchs(); // Call searchs function on document ready if needed
    });
</script>







